<div class="home-page">
  <h1>Edinburgh Vet Practice</h1>
  <a href="/vets">
    <img src="https://img.icons8.com/ios-filled/50/000000/pet-commands-follow.png">See All Registered Vets
  </a>
  <a href="/pets">
    <img src="https://img.icons8.com/dotty/50/000000/doctor-male.png">See All Registered Pets
  </a>
  <a href="/pets/new">
    <img src="https://img.icons8.com/pastel-glyph/64/000000/plus.png">Add New Pet
  </a>
  <a href="/vets/new">
    <img src="https://img.icons8.com/pastel-glyph/64/000000/plus.png">Add New Vet
  </a>
</div>
