<form method="post" action="/vets">
  <label for="first-name">First Name: </label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name: </label>
  <input type="text" name="last_name" id="last-name">

  <label for="phone-number">Phone Number: </label>
  <input type="text" name="phone_number" id="phone-number">

  <label for="max-pets">Maximum Pets in Care: </label>
  <input type="number" name="max_pets" id="max-pets">

  <input type="submit" value="Save Record">
</form>
